In [70]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("C:/Users/student/Desktop/data/Loan_Prediction_Train.csv")

In [3]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [4]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
del df['Loan_ID']

In [7]:
df['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [8]:
df['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [9]:
df['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [10]:
df['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [11]:
df['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [12]:
df['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [13]:
df['Loan_Status'].value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [14]:
df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [15]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [16]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

- 결측값 처리후 pair plot & SVM으로 주요 피쳐 선정

In [18]:
df['Gender'].fillna(value='Male', inplace=True)

In [19]:
df['Married'].fillna(value='Yes', inplace=True)

In [20]:
df['Dependents'].fillna(value=0, inplace=True)

In [21]:
df['Self_Employed'].fillna('No',inplace=True)

In [22]:
df['Credit_History'].fillna(1, inplace=True)

In [23]:
df['Loan_Amount_Term'].fillna(value=np.mean(df['Loan_Amount_Term']), inplace=True)

In [24]:
table = df.pivot_table(values='LoanAmount', index='Self_Employed' ,columns='Education', aggfunc=np.median)

In [25]:
def fage(x):
 return table.loc[x['Self_Employed'],x['Education']]

In [26]:
df['LoanAmount'].fillna(df[df['LoanAmount'].isnull()].apply(fage, axis=1), inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
Gender               614 non-null object
Married              614 non-null object
Dependents           614 non-null object
Education            614 non-null object
Self_Employed        614 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.6+ KB

In [28]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [32]:
df['Gender'] = df['Gender'].map({'Male':1, 'Female':0})

In [33]:
df['Married'] = df['Married'].map({'No':0, 'Yes':1})

In [30]:
df['Dependents'] = df['Dependents'].map({0:0, '0':0, '1':1, '2':2, '3+' : 3})

In [34]:
df['Education'] = df['Education'].map({'Not Graduate':0, 'Graduate':1})

In [35]:
df['Self_Employed'] = df['Self_Employed'].map({'No':0, 'Yes':1})

In [36]:
df['Property_Area'] = df['Property_Area'].map({'Semiurban':0, 'Urban':1, 'Rural':2})

In [37]:
df['Loan_Status'] = df['Loan_Status'].map({'N':0, 'Y':1})

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null int64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null int64
dtypes: float64(4), int64(8)
memory usage: 57.6 KB

- 결측값 처리 완료

In [42]:
df.head(20)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,1,0,5849,0.0,130.0,360.0,1.0,1,1
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,2,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1
6,1,1,0,0,0,2333,1516.0,95.0,360.0,1.0,1,1
7,1,1,3,1,0,3036,2504.0,158.0,360.0,0.0,0,0
8,1,1,2,1,0,4006,1526.0,168.0,360.0,1.0,1,1
9,1,1,1,1,0,12841,10968.0,349.0,360.0,1.0,0,0
10,1,1,2,1,0,3200,700.0,70.0,360.0,1.0,1,1
11,1,1,2,1,0,2500,1840.0,109.0,360.0,1.0,1,1
12,1,1,2,1,0,3073,8106.0,200.0,360.0,1.0,1,1
13,1,0,0,1,0,1853,2840.0,114.0,360.0,1.0,2,0
14,1,1,2,1,0,1299,1086.0,17.0,120.0,1.0,1,1
15,1,0,0,1,0,4950,0.0,125.0,360.0,1.0,1,1
16,1,0,1,0,0,3596,0.0,100.0,240.0,1.0,1,1
17,0,0,0,1,0,3510,0.0,76.0,360.0,0.0,1,0
18,1,1,0,0,0,4887,0.0,133.0,360.0,1.0,2,0
19,1,1,0,1,0,2600,3500.0,115.0,342.0,1.0,1,1

테스트 분리 및 feature importance 선정

In [109]:
train, test = train_test_split(df, test_size=0.2)

In [110]:
X_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]
X_test = test.iloc[:,:-1]
y_test = test.iloc[:,-1]

In [111]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [112]:
pd.Series(model.feature_importances_, index= X_train.columns)

Gender               0.018476
Married              0.027398
Dependents           0.054985
Education            0.020349
Self_Employed        0.018458
ApplicantIncome      0.194235
CoapplicantIncome    0.117214
LoanAmount           0.200189
Loan_Amount_Term     0.039248
Credit_History       0.258650
Property_Area        0.050797
dtype: float64

In [113]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.89      0.42      0.57        38
          1       0.79      0.98      0.87        85

avg / total       0.82      0.80      0.78       123

In [114]:
del df['Gender'], df['Education'], df['Self_']

In [115]:
df.head(10)

,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,0,0,5849,0.0,130.0,360.0,1.0,1,1
1,1,1,0,4583,1508.0,128.0,360.0,1.0,2,0
2,1,0,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,0,0,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,2,1,5417,4196.0,267.0,360.0,1.0,1,1
6,1,0,0,2333,1516.0,95.0,360.0,1.0,1,1
7,1,3,0,3036,2504.0,158.0,360.0,0.0,0,0
8,1,2,0,4006,1526.0,168.0,360.0,1.0,1,1
9,1,1,0,12841,10968.0,349.0,360.0,1.0,0,0